<!-- <h1>Solution</h1>
<p><%= @first_number %><%= @oper %><%= @second_number %> = <%= @solution %></p>
<p><button type="submit" name="store" value="store">Save</button></p -->

  <!DOCTYPE html>
  <html>
  <head>
    <title>Solution</title>
    <link rel="stylesheet" type="text/css" href="/main.css"
  </head>
  <body>
    <h1>Solution</h1>
    <p>HORA EN NEW YORK: <%= @NewYorkhour %></p>
    <p>HORA EN TOKIO: <%= @Tokiohour %></p>
    <p>HORA EN MOSCU: <%= @Moscuhour %></p>
    <form method="POST" action="/solution_with_save"
    <p><%= @first_number %><%= @oper %><%= @second_number %> = <%= @solution %></p>
    <p><button type="submit" name="store" value="store">Save</button></p
    </form>
    <img src="/calculadora.jpg"
        alt="A very cool image">
  </body>
  </html
