<% if flash[:notice]%>
  <%= flash[:notice]%>
<% end%>

<ul>
  <% @my_entries.each do |entry| %>
    <li>
      <%= entry.hours %> h
      <%= entry.minutes %> m -
      <%= entry.date %>
      <%= link_to "Edit page", edit_project_time_entry_path(@my_project, entry) %> -
      <%= link_to "Delete", project_time_entry_path(@my_project, entry), method: :delete, data: {confirm: 'Are you sure'} %>
    </li>
  <% end %>
  <%= image_tag @my_project.logo.url(:thumb) %>
</ul>
